    th.th-td-center, td.th-td-center { text-align: center; }
    th.th-center { text-align: center; }
    table.dataTable.no-footer {
    border-bottom: 1px solid #ece3e3;
    }
    table.dataTable.no-header {
    border-bottom: 1px solid #ece3e3;
    }
    table.dataTable thead th, table.dataTable thead td{border-bottom: 1px solid #ece3e3;}
    .swal-footer{
        text-align: center;
    }
    