.btn-warning{
    background:#ff5730 !important;
    border-radius:4px !important;
}
.btn-primary{
    background:#0033c4 !important;
    border-radius:4px !important;
}
#loader{
    position: fixed;
    z-index: 9999;

}
.first{
    display:none !important;
}
.last{
    display:none !important;
}
.page-item.active{
    display:none !important;
}
@media (max-width: 991px){
.kr_sub {
width: 50%;
border: 1px solid #ddd;
border-radius: 4px;
height: 32px;
padding-left: 5px;
}
}
.kr_sub {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 32px;
    padding-left: 5px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
    font-size:10.5pt;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
} */

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: #0033c4;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}


.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 2rem;
    padding: .3rem;
    border:0;
    text-align: center;
    outline:none;
}
.has-error{
    font-size:10pt !important;
    color:red;
}